.container {
  max-width: 100%;
  width: 1000px;
  margin: 0 auto;
  font-family: helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 0;
}

.center {
  text-align: center;
}

button {
  font-size: 1.2rem;
  cursor: pointer;
  background: white;
  border: 3px solid black;
  outline: none;
  transition: opacity 0.3s ease, background 0.3s ease, transform 0.5s ease;
  margin: 1rem;
}

button:hover {
  background: #ccc;
}

button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
